﻿body {
    background: appworkspace none repeat scroll 0 0;
}
#product-view {
    background-color: #fbfbfb;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 1px 5px -2px #363636;
    margin: 100px auto;
    overflow: hidden;
    padding: 20px 20px 0;
    width: 30%;
}

#product-view h2 {
    margin: 0px;
    font-weight: normal;
    border-bottom: 1px solid rgba(128,128,128,.3);
}

.right {
    float: right;
}

#fieldlist {
    width: 100%;
    float: left;
    margin: 0;
    padding: 10px 0 30px 0;
}

#fieldlist li {
    list-style: none;
    padding: 5px 0;
}

#fieldlist label {
    display: inline-block;
    width: 140px;
    text-align: right;
}
        
.custom-btn {
    border: 1px solid #acacac;
    border-radius: 5px;
    padding: 5px 10%;
}